body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/*always define width and height of box first*/

.container_van {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.bg_img{
    background: url(mountains.jpg);
    background-repeat: no-repeat, repeat;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header_home{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.bodytext_home{
    width: 700px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #ffffff;
}

.grid{
    margin-top: 100px;
    width: 1440px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.grid_images li{
    width: 1000px;
    display: inline;
    width: 450px;
    float: left;
    text-align: center;
    margin-bottom: 50px; 
}

.grid_images li a{
    text-decoration: none;
    color: #74b0ff;
}

.h2_van{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 30px;
}

.h2_van:hover{
    color: #476a99;
}

.header{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.bodytext{
    width: 700px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.netart{
    width: 700px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.img{
    width: 700px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.iframe{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 50px;
    padding-top: 40px;
    background-color: #f0f0f0;
    color: #8a8a8a;
    float: left
}